<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AFAN - Marketing App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/icon.jpg' %}">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.css' %}">
    
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>

<body>

    <div class="off_canvars_overlay">
            
    </div>
    <div class="Offcanvas_menu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="canvas_open">
                        <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                    </div>
                    <div class="Offcanvas_menu_wrapper">
                        <div class="canvas_close">
                              <a href="javascript:void(0)"><i class="ion-android-close"></i></a>  
                        </div> 
                        <div class="search_container">
                           <form action="#">
                                <div class="search_box">
                                    <input placeholder="Search product..." type="text">
                                    <button type="submit">Search</button> 
                                </div>
                            </form>
                        </div> 
                        
                        <div class="middel_right_info">
                            <div class="mini_cart_wrapper">
                                <a href="javascript:void(0)"><img src="{% static 'assets/img/shopping-bag.png' %}" alt=""></a>
                                <span id="cart-total">{{cartItems}}</span>
                                <!--mini cart-->
                                 <div class="mini_cart">
                                    <div class="cart_item">
                                    </div>
                                    <div class="mini_cart_footer">
                                       <div class="cart_button">
                                            <a href="{% url 'cart' %}">View cart</a>
                                        </div>
                                        <div class="cart_button">
                                            <a href="{% url 'checkout' %}">Checkout</a>
                                        </div>

                                    </div>

                                </div>
                                <!--mini cart end-->
                            </div>
                        </div>
                        <div id="menu" class="text-left ">
                            <ul class="offcanvas_main_menu">
                                <li class="menu-item-has-children active">
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="{% url 'shop' %}">products</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Offcanvas menu area end-->
    
    <header>
        <div class="main_header">
            <!--header top start-->
            <div class="header_top">
                <div class="container">  
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="support_info">
                                <h4>Welcome, <a href="#">{{request.user.first_name}}</a></h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="top_right text-right">
                                <ul>
                                   <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
            <!--header top start-->
            <!--header middel start-->
            <div class="header_middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-6">
                            <div class="logo justify-content-lg-between">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.jpg' %}" class="rounded-circle" style="height: 70px; width:70px"></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-6">
                            <div class="middel_right">
                                <div class="search_container">
                                    <h1 class="text-white">AFAN - Marketing App</h1>
                                </div>
                                {% for group in user.groups.all %}
                                    {% if group.name == 'BUYER' %}
                                        <div class="middel_right_info">
                                            <div class="mini_cart_wrapper">
                                                <a href="{% url 'cart' %}"><img src="{% static 'assets/img/shopping-bag.png' %}" alt=""></a>
                                                <p id="cart-total">{{cartItems}}</p>
                                                <!--mini cart--> 
                                                <div class="mini_cart">
                                                    <div class="mini_cart_table">
                                                        <div class="cart_total">
                                                            <span>Total Items:</span>
                                                            <span class="price">{{order.get_cart_items}}</span>
                                                        </div>
                                                        <div class="cart_total mt-10">
                                                            <span>Total Price:</span>
                                            
                                                        </div>
                                                    </div>

                                                    <div class="mini_cart_footer">
                                                    <div class="cart_button">
                                                            <a href="{% url 'cart' %}">View cart</a>
                                                        </div>
                                                        <div class="cart_button">
                                                            <a href="{% url 'checkout' %}">Checkout</a>
                                                        </div>

                                                    </div>

                                                </div>
                                                <!--mini cart end-->
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header middel end-->
            <!--header bottom satrt-->
            <div class="main_menu_area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12">
                            <div class="main_menu menu_position"> 
                                <nav>  
                                    <ul>
                                        {% for group in user.groups.all %}
                                            {% if group.name == 'FARMER' %}
                                                <li><a href="{% url 'home' %}">home</a></li>
                                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                                <li><a href="{% url 'newProduct' %}">New Product</a></li>
                                                <li><a href="{% url 'recent-orders' %}">Recent Orders</a></li>
                                            {% else %}
                                                <li><a href="{% url 'home' %}">home</a></li>
                                                <li><a href="{% url 'shop' %}">Shop</a></li>
                                                <li><a href="{% url 'cart' %}">My Orders</a></li>
                                                <li><a href="{% url 'contactUs' %}"> Contact Us</a></li>  
                                            {% endif %}               
                                        {% endfor %}    
                                    </ul>  
                                </nav> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--header bottom end-->
        </div> 
    </header>
    <!--header area end-->




    
    {% block content %}
        
    {% endblock content %}


        <!--footer area start-->
        <footer class="footer_widgets">
            <div class="footer_bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="copyright_area">
                                <p> <a href="">AFAN</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="footer_payment text-right">
                                <a href="#"><img src="{% static 'assets/img/icon/payment.png' %}" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </footer>
        <!--footer area end-->
    <!-- JS
    ============================================ -->
    
    
    
    <!-- Plugins JS -->
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets/js/cart.js' %}"></script>
    
    
    
    </body>
    
    </html>