{% extends 'shop/prebase.html' %}
{% load static %}
{% block content %}

        <!--breadcrumbs area start-->
        <div class="breadcrumbs_area">
            <div class="container">   
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a class="btn btn-sm btn-danger text-white" href="/">Back</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>         
        </div>
    <!--error section area start-->
    <div class="container mb-3 mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="account-contents">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <div class="account-thumb col-md-12">
                                <h2>BUYER</h2>
                                <p>Have a Wonderful experience purchasing available Food Items<br/> High Quality, Cheaper and Realible Products</p>
                                <div class="container">
                                    <a href="{% url 'buyerRegister' %}"><button type="submit" class="btn btn-lg btn-primary">Register</button></a>
                                    <a href="{% url 'buyerLogin' %}"><button type="submit" class="btn btn-lg btn-success">Login</button></a>
                                </div>
                            </div>
                        </div><hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--error section area end--> 
    {% endblock content %}