{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a class="btn btn-sm btn-success text-white" href="{% url 'shop' %}">&#x2190; Continue Shopping</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->

    <!--shopping cart area start -->
    <div class="shopping_cart_area mt-60">
        <div class="container">  
            <form action="#"> 
                <div class="row">
                    <div class="col-12">
                        <div class="table_desc">
                            <div class="cart_page table-responsive">
                                <table>
                            <thead>
                                <tr>
                                    <th class="product_thumb">Image</th>
                                    <th class="product_name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product_quantity">Quantity</th>
                                    <th class="product_total">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td class="product_thumb"><a href="#"><img src="{{item.product.imageURL}}" alt=""></a></td>
                                    <td class="product_name"><a href="#">{{item.product.name}}</a></td>
                                    <td class="product-price">&#8358; {{item.product.price|floatformat:2}}</td>
                                    <td class="product_quantity">{{item.quantity}}</td>
                                    <td class="product_total">&#8358; {{item.get_total|floatformat:2}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                            </div>  
                            <div class="cart_submit">
                                <button type="submit">update cart</button>
                            </div>      
                        </div>
                    </div>
                </div>
                <!--coupon code area start-->
                <div class="coupon_area">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="coupon_code right">
                                <h3>Cart Totals</h3>
                                <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Toatl Items</p>
                                    <p class="cart_amount">{{order.get_cart_items}}</p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">&#8358; {{order.get_cart_total|floatformat:2}}</p>
                                </div>
                                <div class="checkout_btn">
                                    <a href="{% url 'checkout' %}">Proceed to Checkout</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--coupon code area end-->
            </form> 
        </div>     
    </div>
    <!--shopping cart area end -->
    {% endblock content %}