{% extends 'shop/prebase.html' %}
{% load static %}
{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a class="btn btn-sm btn-danger text-white" href="{% url 'farmerClick' %}">Back</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->

	<section class="account">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="account-contents">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-thumb">
                                    <h2>Login as Farmer</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-content">
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="single-acc-field">
                                            <label for="username">Username</label>
                                            <!-- <input type="text" id="username" placeholder="Enter your Username"> -->
                                            {{form.username}}
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="password">Password</label>
                                            <!-- <input type="password" id="password" placeholder="Enter your password"> -->
                                            {{form.password}}
                                        </div>
                                        <div class="single-acc-field">
                                            <button type="submit">Login Account</button>
                                        </div>
                                        <a href="{% url 'farmerRegister' %}">Not Account Yet? Register</a>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
    {% endblock content %}