{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <!--slider area start-->
    <section class="slider_section d-flex align-items-center" data-bgimg="{% static 'assets/img/slider/slider3.jpg' %}">
        <div class="slider_area owl-carousel">
            <div class="single_slider d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="slider_content">
                                <h1>Next level of Food Items</h1>
                                <h2>Insane Quality Products</h2>
                                <p>Special offer <span> 20% off </span> this week</p>
                                <a class="button" href="{% url 'shop' %}">Buy now</a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                        </div>
                    </div>
                </div>
        </div>
    </section>
    <!--slider area end-->
        <!--Tranding product-->
        <section class="pt-60 pb-30 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <h2>Trending Products</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-tranding">
                      
                                <div class="tranding-pro-img">
                                    <img src="{% static 'assets/img/product/tranding-1.jpg' %}" alt="">
                                </div>
                                <div class="tranding-pro-title">
                                    <h3>Nuts</h3>
                                </div>
                                <div class="product_desc">
                                    <ul>
                                        <li>In Stock</li>
                                    </ul>
                                </div>
                   
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-tranding">
                        
                                <div class="tranding-pro-img">
                                    <img src="{% static 'assets/img/product/tranding-2.jpg' %}" alt="">
                                </div>
                                <div class="tranding-pro-title">
                                    <h3>Beans</h3>
                                </div>
                                <div class="product_desc">
                                    <ul>
                                        <li>In Stock</li>
                                    </ul>
                                </div>
                      
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-tranding">
                       
                                <div class="tranding-pro-img">
                                    <img src="{% static 'assets/img/product/tranding-3.jpg' %}" alt="">
                                </div>
                                <div class="tranding-pro-title">
                                    <h3>Rice</h3>
                       
                                </div>
                                <div class="product_desc">
                                    <ul>
                                        <li>In Stock</li>
                                    </ul>
                                </div>
                
                        </div>
                    </div>
                </div>
            </div>
        </section><!--Tranding product-->
    
        <!--Features area-->
        <section class="features-area pt-60 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <h2>Awesome Features</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-features">
                            <img src="{% static 'assets/img/icon/1.png' %}" alt="">
                            <h3>Impressive Distance</h3>
                            <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-features">
                            <img src="{% static 'assets/img/icon/2.png' %}" alt="">
                            <h3>100% self safe</h3>
                            <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="single-features">
                            <img src="{% static 'assets/img/icon/3.png' %}" alt="">
                            <h3>Awesome Support</h3>
                            <p>consectetur adipisicing elit. Ut praesentium earum, blanditiis, voluptatem repellendus rerum voluptatibus dignissimos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--Features area-->
{% endblock content %}
    


	
