{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a class="btn btn-sm btn-danger text-white" href="/">Back</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->

	<section class="account">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="account-contents">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-thumb">
                                    <h2>Add New Product</h2>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-content">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="single-acc-field">
                                            <label for="name">Product Name</label>
                                            {{form.name}}
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="price">Product Price Per Kilogram</label>
                                            {{form.pricePerKilogram}}
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="image">Product Image</label>
                                            {{form.image}}
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="description">Product Description</label>
                                            {{form.description}}
                                        </div>
                                        <div class="single-acc-field">
                                            <button type="submit">Add Product</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock content %}
    


	
