{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a class="btn btn-sm btn-danger text-white" href="{% url 'shop' %}">Back</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->
    <!--product details start-->
    <div class="product_details mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                   <div class="product-details-tab">
                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{product.imageURL}}" data-zoom-image="{{product.imageURL}}" alt="big-1">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                       <form action="#">
                           
                            <h1>{{product.name}}</h1>
                            <div class=" product_ratting">
                                <ul>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    <li class="review"><a href="#"></a></li>
                                </ul>
                                
                            </div>
                            <div class="price_box">
                                <span class="current_price">&#8358; {{product.price}}</span>
                                
                            </div>
                            <div class="product_desc">
                                <ul>
                                    <li>In Stock</li>
                                </ul>
                                {% for group in user.groups.all %}
                                    {% if group.name == 'FARMER' %}
                                        <a href="{% url 'deleteProduct' product.id %}" class="btn btn-sm btn-danger">Delete Product</a>
                                    {% endif %}
                                {% endfor %}        
                            </div>
                            {% for group in user.groups.all %}
                                {% if group.name == 'BUYER' %}
                                    <div class="product_variant quantity">
                                        <button data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-success add-btn update-cart" id="buyButton">Buy</button>  
                                    </div>
                                {% endif %}
                            {% endfor %}        
                        </form>

                    </div>
                </div>
            </div>
        </div>    
    </div>
    <!--product details end-->
    
    <!--product info start-->
    <div class="product_d_info mb-60">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="product_d_inner">   
                        <div class="product_info_button">    
                            <ul class="nav" role="tablist">
                                <li >
                                    <a class="active" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Description</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="info" role="tabpanel" >
                                <div class="product_info_content">
                                    <p>{{product.description}}</p>
                                </div>    
                            </div>
                        </div>
                    </div>     
                </div>
            </div>
        </div>    
    </div>  
    <!--product info end-->

{% endblock content %}
    