{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <!--slider area end-->
        <!--Tranding product-->
        <section class="pt-60 pb-30 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <h2>Available Products</h2>
                        </div>
                    </div>
                </div>
    
                <div class="row justify-content-center">
                    {% for product in products %}
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        
                        <div class="single-tranding">
                            <a href="{% url 'productDetail' product.id %}">
                                <div class="tranding-pro-img">
                                    <img src="{{product.imageURL}}" class="img-thumbnail" alt="">
                                </div>
                                <div class="tranding-pro-title">
                                    <h3>{{product.name}}</h3>
                                </div>
                                <div class="tranding-pro-price">
                                    <div class="price_box">
                                        <span class="current_price">&#8358; {{product.price}}</span>
                                        <span class="old_price">&#8358; 80.00</span>
                                    </div>
                       
                                </div>
                            </a>
                            <div class="align-items-center justify-content-lg-center d-lg-flex">
                                <button data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-success add-btn update-cart">Buy</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
             
            </div>
        </section><!--Tranding product-->
    
        <!--Features area-->
        <section class="features-area pt-60 pb-60">

        </section><!--Features area-->
{% endblock content %}
    


	
