{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

    <!--slider area end-->
        <!--Tranding product-->
        <section class="pt-60 pb-30 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <div class="section-title">
                            <h2>Available Products</h2>
                        </div>
                        <div class="container">
                            <h4>Total Products In Stock : {{totalProductCount}}</h4>
                        </div>
                        <hr>
                    </div>
                </div>
    
                <div class="row justify-content-center">
                    {% for product in page_obj %}
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                        
                        <div class="single-tranding">
                            <a href="{% url 'productDetail' product.id %}">
                                <div class="tranding-pro-img">
                                    <img src="{{product.imageURL}}" class="img-thumbnail" alt="">
                                </div>
                                <div class="tranding-pro-title">
                                    <h3>{{product.name}}</h3>
                                </div>
                                <div class="tranding-pro-price">
                                    <div class="price_box">
                                        <span class="current_price">&#8358; {{product.pricePerKilogram}}</span>
                            
                                    </div>
                       
                                </div>
                            </a>
                            {% for group in user.groups.all %}
                                {% if group.name == "BUYER"%}
                                    <div class="align-items-center justify-content-lg-center d-lg-flex">
                                        <button data-product="{{product.id}}" data-action="add" class="btn btn-sm btn-success add-btn update-cart" id="buyButton">Buy</button>
                                    </div>
                                {% endif %}
                            {% endfor %}        
                        </div>
                    </div>
                    {% endfor %}
                </div>
             
            </div>
            <br>
            <hr>
                
                <ul class="pagination pagination-lg justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1"> &laquo; First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}

                    <h4 class="page-item">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</h4>
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                  </ul>
        </section><!--Tranding product-->
    
        <!--Features area-->
        <section class="features-area pt-60 pb-60"> 

        </section>
        
      <script>
        let buyButton = document.getElementById('buyButton');
        buyButton.addEventListener('click', () => {
            alert('Item Successfully Added to your Order List......!');
        });
      </script>
{% endblock content %}
    


	
